@import "src/typography/colors";

.deleteButton {
  width: 45px;
  height: 45px;
  margin-left: 5px;
  color: $red;
  border-radius: 100px;
  border-color: $red;
  background-color: $white;

  transition: background-color 0.3s, color 0.3s;
}

.deleteButton:hover {
   background-color: $red;
   color: $white;
}