@import "src/typography/colors";

.showInfoButton {
  width: 45px;
  height: 45px;
  font-size: 1.9rem;
  color: $green;
  border-radius: 100px;
  border-color: $green;
  background-color: $white;

  transition: background-color 0.3s, color 0.3s;
}

.showInfoButton:hover {
   background-color: $green;
   color: $white;
}